<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>ToDo List</title>
  </head>
  <body>

    <div class="row justify-content-md-center list">
      <div class="col-md-5">
        <h4 class="navigation"><%= date %></h4>
        <% addTask.map((item) => {%>
       <div class="itemList"><input type="checkbox" > <p class="items"><%= item %></p></div>
        <% })%>

        <form action="/" method="post">
          <input type="text" name="newTask" placeholder="Add New Task" />
          <button type="submit"><i class="fa fa-plus"></i></button>
        </form>
      </div>
    </div>

    <footer>
      <div class="row justify-content-md-center">
        <div class="col-md-5">
          <h6 class="navigation">Joke of the Day</h6>
          <p class="text-center"><%= jokes %></p>
        </div>
      </div>
    </footer>
  </body>
</html>
