body {
    max-width: 1500px;
    margin: auto;
    margin-top: 8%;
}

.navigation {
    padding: 1%;
    background: coral;
    text-align: center;
    color: white;
}

.list {
    margin-bottom: 5%;
}

.items {
    margin: -4.5% 0 4% 3%;
    border-bottom: 1px solid coral;
    padding: 2% 0;
    color: coral;
}

input[type='text'] {
    min-width: 94.5%;
    border: none;
    padding: 2% 0;
    border-bottom: 1px solid coral;
}

input[type='checkbox'] {
    padding-top: .5em;
}

button {
    border: 1px solid coral;
    background: none;
    border-radius: 15%;
}

i {
    color: coral;
}

input::placeholder {
    color: coral;
    text-align: center;
}

input[type='text']:focus {
    border: none;
    outline: none;
}

input:checked+p {
    text-decoration: line-through;
    color: rgba(255, 127, 80, .4);
    transition: all .5s ease-out;
}